name: PHPCSFixer

on:
    pull_request:
    workflow_dispatch:

jobs:
    phpcsfixer:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php_version: ["8.4"]

        name: PHPCSFixer with PHP ${{ matrix.php_version }}

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php_version }}

            ###> Composer ###
            - name: Get composer cache directory
              id: composer-cache
              run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-composer-

            - name: Install Composer dependencies
              run: composer install -q --prefer-dist
            ###< Composer ###

            - name: Run PHPCSFixer
              run: $GITHUB_WORKSPACE/vendor/bin/php-cs-fixer fix --dry-run
