name: PHPCSFixer

on:
    pull_request:
    workflow_dispatch:

jobs:
    phpcsfixer:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php_version: ["8.4"]

        name: PHPCSFixer with PHP ${{ matrix.php_version }}

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php_version }}

            - name: Install Composer dependencies
              run: composer install -q --no-ansi --no-interaction

            - name: Run PHPCSFixer
              run: $GITHUB_WORKSPACE/vendor/bin/php-cs-fixer fix --dry-run
