name: PHPStan

on:
    pull_request:
    workflow_dispatch:

jobs:
    phpstan:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php_version: ["8.4", "8.5"]

        name: PHPStan with ${{ matrix.php_version }}

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php_version }}

            - name: Install Composer dependencies
              run: composer install -q --no-ansi --no-interaction

            - name: Run PHPStan
              run: $GITHUB_WORKSPACE/vendor/bin/phpstan --error-format=github
