name: PHPUnit

on:
    pull_request:
    workflow_dispatch:

jobs:
    phpunit:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                include:
                    - php-version: "8.4"
                      dependency-version: "--prefer-lowest"
                      symfony-version: "7.4"

                    - php-version: "8.4"
                      dependency-version: ""
                      symfony-version: "8.x"

        name: PHPUnit with PHP ${{ matrix.php-version }} (Symfony ${{ matrix.symfony-version }})

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}

            - name: Install Composer dependencies
              run: composer update ${{ matrix.dependency-version }}

            - name: Run PHPUnit
              run: $GITHUB_WORKSPACE/vendor/bin/phpunit
