name: PHPUnit

on:
    pull_request:
    workflow_dispatch:

jobs:
    phpunit:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                include:
                    - php_version: "8.4"
                      dependency_version: "--prefer-lowest"
                      symfony_version: "7.4"

                    - php_version: "8.5"
                      dependency_version: "--prefer-lowest"
                      symfony_version: "7.4"

                    - php_version: "8.4"
                      dependency_version: ""
                      symfony_version: "8.x"

                    - php_version: "8.5"
                      dependency_version: ""
                      symfony_version: "8.x"

        name: PHPUnit with PHP ${{ matrix.php_version }} (Symfony ${{ matrix.symfony_version }})

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php_version }}

            - name: Install Composer dependencies
              run: composer update ${{ matrix.dependency_version }}

            - name: Run PHPUnit
              run: $GITHUB_WORKSPACE/vendor/bin/phpunit
